#one {
  padding: 3em 0 3em 0;
}

.about-me {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.story {
  text-align: left;
  width: 60%;
}

.profile-pic {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 1px solid white;
}